* {
  margin: 0;
  padding: 0;
}

body {
  background: url("./background.jpg");
  //background-size: 100vw 100vh;
  background-size: cover;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.shortcuts-container {
  width: 50%;
  position: absolute;

  .shortcuts-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;

    .shortcut-button {
      border-radius: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      width: 100px;
      height: 100px;
      cursor: pointer;
      box-shadow: 0 0 30px #000
    }
  }
}

@media screen and (max-width: 1400px) {
  .shortcuts-container {
    width: 75%;

    .shortcuts-row .shortcut-button {
      width: 85px;
      height: 85px;
    }
  }
}

.balance-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: auto;

  .balance {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #37517e;

    padding: 6px 8px 35px 8px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5vh;
    margin-bottom: 5vh;

    .balance-flag {
      height: 22px !important;
      width: 33px !important;
      margin-right: 6px;
      position: relative;
      top: 3px;
      display: inline-block;
    }

    .refresh-icon, .transferwise-icon {
      position: relative;
      top: 1px;
    }

    .refresh-icon {
      padding-left: 3px;
    }

    .settings-icon {
      filter: brightness(78%);
      position: relative;
      margin-left: 6px;
      width: 20px;
      height: 20px;
    }

    h2 {
      color: #37517e;
      font-size: 22px;
    }

    img {
      height: 22px;
    }

    p, img, h2 {
      display: inline-block;
    }

  }
}

.balance-container-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  top: 3px;

  @keyframes spin{
    to { transform: rotate(360deg) }
  }

  .spin-animation{
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease;
  }

  &:focus {
    outline: none;
  }
}

.currency-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .settings-flag {
    height: 28px !important;
    width: 42px !important;
    margin-right: 6px;
    position: relative;
    top: 3px;
    display: inline-block;
  }
}

